/* Assuming RentalNav is a separate component */
.rental-nav-hidden {
  position: fixed;
  top: -100%; /* Adjust based on the actual height of the nav */
  left: 0;
  right: 0;
  transition: top 0.5s ease-in-out;
}

.rental-nav-visible {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.5s ease-in-out;
}

.embla {
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 2);
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}

.emblac {

  max-width: 63rem;
  margin: auto;
  --slide-height: 18.4rem;
  --slide-spacing: 0.5rem;
  --slide-size: 100%;
  --slide-spacing-xs: 0.5rem;
  --slide-size-xs: 50%;
  --slide-spacing-sm: 0.5rem;
  --slide-size-sm: calc(100% / 3);
  --slide-spacing-lg: 0.5rem;
  --slide-size-lg: calc(100% / 4);
}
.emblac-new-cara {

  max-width: 63rem;
  margin: auto;
  --slide-height: 18.4rem;
  --slide-spacing: 0.5rem;
  --slide-size: 40%;
  --slide-spacing-xs: 0.5rem;
  --slide-size-xs: 20%;
  --slide-spacing-sm: 0.5rem;
  --slide-size-sm: calc(100% / 4);
  --slide-spacing-lg: 0.5rem;
  --slide-size-lg: calc(100% / 5);
}
.embla__viewportc {
  overflow: hidden;
  width: 100%;
}

.embla__containerc {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slidec {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}


.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  background-color: white;
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

/* Our projects css */
.embla3 {
  max-width: 85rem;
  margin: auto;
  --slide-height: 28rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 1.8rem;
  --slide-size-lg: calc(100% / 2);
}

.embla__viewport3 {
  overflow: hidden;
  width: 100%;
}

.embla__container3 {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide3 {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

/* Our Team css */
/* Our projects css */
.embla4 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 85rem;
  margin: auto;
  --slide-height: 28rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 1.8rem;
  --slide-size-lg: calc(100% / 3);
}

.embla__viewport4 {
  overflow: hidden;
  width: 100%;
}

.embla__container4 {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide4 {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

@media (min-width: 497px) {
  .embla__containerc {
    margin-left: calc(var(--slide-spacing-xs) * -1);
  }

  .embla__slidec {
    flex: 0 0 var(--slide-size-xs);
    padding-left: var(--slide-spacing-xs);
  }
}

@media (min-width: 747px) {
  .embla__container1 {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }

  .embla__slide1 {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
  
  .embla__containerc {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }

  .embla__slidec {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
  .embla__container4 {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }

  .embla__slide4 {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}

@media (min-width: 1024px) {
  .embla__container3 {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }

  .embla__slide3 {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}

@media (min-width: 1280px) {
  .embla__container1 {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }

  .embla__slide1 {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }

  /* .embla__container3 {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }

  .embla__slide3 {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  } */

  .embla__container4 {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }

  .embla__slide4 {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }

  .embla__containerc {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }

  .embla__slidec {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}